In [19]:
import pyspark
from pyspark import SQLContext
import pyspark.sql.functions as F
from pyspark.sql import Row
sc = SparkContext.getOrCreate();
sql = SQLContext(sc)

df = (sql.read
         .format("com.databricks.spark.csv")
         .option("header", "true")
         .load("covid_dataset/country_wise_latest.csv"))

def map_function(x):
    rec = {}
    rec['country_name'] = x['Country/Region']
    rec['total_cases'] = x['Confirmed']
    rec['total_deaths'] = int(x['Deaths'])
    rec['total_recoveries'] = x['Recovered']
    rec['recovery_rate'] = ((int(x['Recovered'])) /int(x['Confirmed'])) * 100
    rec['death_rate'] = ((int(x['Deaths'])) /int(x['Confirmed'])) * 100
    return rec
rdd=df.rdd.map(lambda x: Row(**dict(map_function(x))))
df2=rdd.toDF()
df2.sort(F.col('total_deaths').desc()).limit(10).show(truncate=False)

"""
+--------------+-----------+------------+----------------+-------------------+------------------+
|country_name  |total_cases|total_deaths|total_recoveries|recovery_rate      |death_rate        |
+--------------+-----------+------------+----------------+-------------------+------------------+
|United States |4290259    |148011      |1325804         |30.902656459668286 |3.4499315775574386|
|Brazil        |2442375    |87618       |1846641         |75.60841394134808  |3.5874097957930293|
|United Kingdom|301708     |45844       |1437            |0.47628833176448754|15.194824134593713|
|Mexico        |395489     |44022       |303810          |76.8188242909411   |11.131030193001576|
|Italy         |246286     |35112       |198593          |80.63511527248808  |14.256595990027854|
|India         |1480073    |33408       |951166          |64.26480315497952  |2.2571859631247917|
|France        |220352     |30212       |81212           |36.855576532094105 |13.71079000871333 |
|Spain         |272421     |28432       |150376          |55.19985610507266  |10.436787178668311|
|Peru          |389717     |18418       |272547          |69.93459356404776  |4.725993477318156 |
|Iran          |293606     |15912       |255144          |86.90013146870295  |5.419507775726654 |
+--------------+-----------+------------+----------------+-------------------+------------------+
"""

+--------------+-----------+------------+----------------+-------------------+------------------+
|country_name  |total_cases|total_deaths|total_recoveries|recovery_rate      |death_rate        |
+--------------+-----------+------------+----------------+-------------------+------------------+
|United States |4290259    |148011      |1325804         |30.902656459668286 |3.4499315775574386|
|Brazil        |2442375    |87618       |1846641         |75.60841394134808  |3.5874097957930293|
|United Kingdom|301708     |45844       |1437            |0.47628833176448754|15.194824134593713|
|Mexico        |395489     |44022       |303810          |76.8188242909411   |11.131030193001576|
|Italy         |246286     |35112       |198593          |80.63511527248808  |14.256595990027854|
|India         |1480073    |33408       |951166          |64.26480315497952  |2.2571859631247917|
|France        |220352     |30212       |81212           |36.855576532094105 |13.71079000871333 |
|Spain         |272421     |28432       |150376          |55.19985610507266  |10.436787178668311|
|Peru          |389717     |18418       |272547          |69.93459356404776  |4.725993477318156 |
|Iran          |293606     |15912       |255144          |86.90013146870295  |5.419507775726654 |
+--------------+-----------+------------+----------------+-------------------+------------------+