In [43]:
import pyspark
from pyspark import SQLContext
import pyspark.sql.functions as F
import pyspark.sql.types as T

from pyspark.sql.functions import udf

sc = SparkContext.getOrCreate();
sql = SQLContext(sc)

df = (sql.read
         .format("com.databricks.spark.csv")
         .option("header", "true")
         .load("world_population/worldcities.csv"))\
         .withColumn("city_population", F.col("population").cast("float"))\
         .where(F.col("city_population").cast("int") > 0)

toInteger = udf(lambda z: toInt(z), T.IntegerType())
spark.udf.register("toInteger", toInteger)

def toInt(s):
   try:
     return int(float(s))
   except:
     return 0
df.withColumn("TruncatedPopulation", toInteger('Population'))\
.limit(5)\
.select(['country', 'city', 'TruncatedPopulation']).show()
"""
+-------------+-----------+-------------------+
|      country|       city|TruncatedPopulation|
+-------------+-----------+-------------------+
|        Japan|      Tokyo|           35676000|
|United States|   New York|           19354922|
|       Mexico|Mexico City|           19028000|
|        India|     Mumbai|           18978000|
|       Brazil|  São Paulo|           18845000|
+-------------+-----------+-------------------+
"""

+-------------+-----------+-------------------+
|      country|       city|TruncatedPopulation|
+-------------+-----------+-------------------+
|        Japan|      Tokyo|           35676000|
|United States|   New York|           19354922|
|       Mexico|Mexico City|           19028000|
|        India|     Mumbai|           18978000|
|       Brazil|  São Paulo|           18845000|
+-------------+-----------+-------------------+

'\n+-------------+-----------+-------------------+\n|      country|       city|TruncatedPopulation|\n+-------------+-----------+-------------------+\n|        Japan|      Tokyo|           35676000|\n|United States|   New York|           19354922|\n|       Mexico|Mexico City|           19028000|\n|        India|     Mumbai|           18978000|\n|       Brazil|  São Paulo|           18845000|\n+-------------+-----------+-------------------+\n'